.container {
  margin: 0 auto;
  padding: 5vw 0;
  text-align: center;
  background-color: rgb(26, 27, 38);
  min-height: 75vh;
}

.jumbotron {
  width: 100%;
  max-width: 900px;
}

.btn-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  margin: 0 auto;
  justify-content: space-around;
}

.btn {
  padding: 10px;
  margin: auto 3px;
  font-size: larger;
}
