<mat-card class="card">
  <mat-card-header>
    <div (click)="onProfileClick()" mat-card-avatar class="header-image">
      <img
        src="{{ post.postedBy.profileImage }}"
        class="img"
        onerror="this.onerror=null;this.src='../../../../assets/images/profile.jpg';"
      />
    </div>

    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle
      >Posted by
      <span *ngIf="user">
        <span *ngIf="user.id === post.postedBy.id; else not_me">
          <span (click)="onProfileClick()" class="username my-post">{{
            post.postedBy.username
          }}</span>
        </span>
      </span>
      <ng-template #not_me>
        <span (click)="onProfileClick()" class="username">{{
          post.postedBy.username
        }}</span>
      </ng-template>
      {{ momentTime }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image src="{{ post.imageURL }}" alt="Photo of a cool post" />
  <mat-card-actions *ngIf="!detailedMode" class="action-container">
    <div class="like-container">
      <div *ngIf="user">
        <button
          *ngIf="hasLiked; else not_liked"
          color="primary"
          mat-mini-fab
          aria-label="Unlike post"
          (click)="onLike()"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <ng-template #not_liked>
          <button
            mat-icon-button
            color="primary"
            aria-label="Like post"
            (click)="onLike()"
          >
            <mat-icon>favorite_outline</mat-icon>
          </button>
        </ng-template>
      </div>
      <div class="number-of-likes">{{ post.likedBy.length }} likes</div>
    </div>
    <button (click)="onCommentsClick()" mat-stroked-button>
      Comments<span class="material-icons">
        comment
      </span>
    </button>
    <div class="spacer"></div>
    <div *ngIf="user">
      <button
        color="accent"
        mat-raised-button
        *ngIf="post.postedBy.id === user.id"
        (click)="onDelete()"
      >
        Delete post
        <span class="material-icons">
          delete_forever
        </span>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
