<mat-card class="card">
  <mat-card-header>
    <div (click)="onProfileClick()" mat-card-avatar class="header-image">
      <img src="{{ post.postedBy.profileImage }}" class="img" />
    </div>

    <mat-card-title>{{ post.title }}</mat-card-title>
    <mat-card-subtitle
      >Posted by
      <span
        (click)="onProfileClick()"
        class="username"
        [ngClass]="{ 'my-post': post.postedBy.id === user.id }"
        >{{ post.postedBy.username }}</span
      >
      {{ momentTime }}</mat-card-subtitle
    >
  </mat-card-header>
  <img mat-card-image src="{{ post.imageURL }}" alt="Photo of a Shiba Inu" />
  <mat-card-actions class="action-container">
    <div class="like-container">
      <button
        *ngIf="hasLiked; else not_liked"
        mat-mini-fab
        aria-label="Unlike post"
        (click)="onLike()"
      >
        <mat-icon>favorite</mat-icon>
      </button>
      <ng-template #not_liked>
        <button
          mat-icon-button
          color="accent"
          aria-label="Like post"
          (click)="onLike()"
        >
          <mat-icon>favorite_outline</mat-icon>
        </button>
      </ng-template>
      <div class="number-of-likes">
        {{ post.likedBy.length }}
      </div>
    </div>
    <button class="comment-btn" mat-button>Comments</button>
  </mat-card-actions>
</mat-card>
