.card {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-post {
  color: orangered;
  font-weight: bold;
}

.header-image {
  background-size: cover;
}

.img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  object-fit: cover;
}

.action-container {
  display: flex;
  justify-content: center;
}

.like-container {
  display: flex;
  align-items: center;
}

.number-of-likes {
  font-size: x-large;
}

.comment-btn {
  margin-left: 50%;
}
