a {
  text-decoration: none;
  padding-right: 10px;
  color: white;
}

a:hover {
  color: hotpink;
}

.icon {
  padding: 0 10px 0 5px;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: xx-large;
}

.mat-flat-button {
  font-size: large;
}

@media screen and (max-width: 480px) {
  .title {
    display: none;
  }
}
