.footer {
  clear: both;
  position: relative;
  height: 100px;
  margin-top: 0px;

  color: white;
  text-align: center;
  font-size: medium;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
