a {
  text-decoration: none;
  padding-right: 10px;
  color: white;
}

a:hover {
  color: hotpink;
}

.icon {
  padding: 0 10px 0 5px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.title {
  font-size: xx-large;
  cursor: pointer;
}

.btn-username {
  font-size: large;
  background-color: rgb(26, 27, 38);
  color: white;
}

@media screen and (max-width: 480px) {
  .title {
    display: none;
  }
}
