.example-form {
  max-width: 500px;
  width: 100%;
  margin: 15vw auto;
}

.example-full-width {
  width: 100%;
}

.error-text {
  float: right;
}

.title {
  font-size: larger;
  margin-bottom: 2rem;
}
