.container {
  text-align: center;
}

.error {
  color: #cc0000;
  font-size: large;
  text-align: center;
  margin-top: 50px;
}

.spinner {
  margin: 20vw auto 0 auto;
}

.add-btn {
  width: 400px;
  max-width: 60vw;
  height: 3rem;
  font-size: large;
}

.paginator {
}
