<div class="container">
  <p class="error">{{ error$ | async }}</p>
  <mat-spinner class="spinner" *ngIf="loading$ | async"></mat-spinner>
  <button
    *ngIf="auth$ | async"
    routerLink="/posts/add"
    class="add-btn"
    mat-raised-button
    color="accent"
  >
    Add post
  </button>
  <div *ngFor="let post of posts$ | async">
    <app-post [post]="post" [user]="auth$ | async"></app-post>
  </div>
  <mat-paginator
    class="paginator"
    [length]="postsCount"
    [pageSize]="pageSize"
    (page)="pageEvent = changePage($event)"
  >
  </mat-paginator>
</div>
