.error {
  color: #cc0000;
  font-size: large;
  text-align: center;
  margin-top: 50px;
}

.spinner {
  margin: 5vw auto 0 auto;
}

.label {
  text-align: center;
  font-size: large;
  margin-bottom: 20px;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.comment-card {
  background-color: whitesmoke;
}

.comment-container {
  width: 100%;
}

.comment-box {
  height: 60px;
}

.btn {
  margin: 3px auto 0 auto;
}

.not-logged {
  font-size: large;
  text-align: center;
  margin-bottom: 20px;
}

.link {
  font-weight: bold;
  text-decoration: none;
  color: orangered;
}
