.error {
  color: #cc0000;
  font-size: large;
  text-align: center;
  margin-top: 50px;
}

.spinner {
  margin: 20vw auto 0 auto;
}

.label {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}

.card {
  max-width: 600px;
  margin: 0 auto;
  margin-bottom: 30px;
}
